<!--<footer class="footer fixed-bottom">
      <span class="text-muted">Copyright © 2020 Design Shack</span>
</footer>-->
<div id="footer">
      <span class="text-muted">Copyright © 2020 Design Shack</span>
</div>