<app-navbar></app-navbar>
<div class="container" >    
    <div class="jumbotron" *ngIf="user$ | async as user" >
      <div class="row" *ngFor="let us of user">
          <div class="col-6">
              <img [src]="'data:image/jpg;base64,' +  us.picture" alt="stack photo" class="img">
          </div>
          <div class="col-6" >
              <div class="container" style="border-bottom:1px solid black" >
                <h2>{{us.name}}</h2>
              </div>
                <hr>
              <ul class="container details">
                <p>{{ 'profil.first' | translate }}</p>
                <label>Domenii de interes: </label>
                <li>{{ us.domenii_interes }}</li>
            </ul>
          </div>
      </div>
        <button type="submit" class="btn btn-secondary" (click)="onSubmit()" style="float: right;">Edit Info</button>
      </div>
    </div>
    
<app-footer></app-footer>