<button type="button" class="btn btn-light" (click)="cancel()" ><i class="fa fa-arrow-left" style="font-size:28px"></i></button>
<div class="container col-6 mx-auto">  
    Email
    <input type="text" #email class="form-control">
    Username
    <input type="text" #name class="form-control">
    Password
    <input type="password" #password class="form-control">

    <button class="btn btn-outline-secondary col-3 mt-3" (click)="submit(email.value, password.value, name.value)">Register</button>

  </div>