<app-navbar></app-navbar>
<form>
<div class="container" >    
    <div class="jumbotron">
        <div class="form-group">
            <label>Email: {{logged.email}}</label>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" #name class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">New Password</label>
            <input type="text" #password class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Domenii de interes: </label>
            <select multiple class="form-control" id="exampleFormControlSelect2" >
                <option *ngFor="let dom of domInteres" (click)="onSelected(dom)">{{dom}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Picture input</label>
            <input type="file" #picture class="form-control-file" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-secondary" (click)="onSubmit(string ,name.value, password.value, string, picture.files)" style="float: right;">Save Changes</button>
    </div>
</div>
</form>
<app-footer></app-footer>