<app-navbar></app-navbar>
<div id="dimScreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 bg-white text-black border">
                <h1>{{ 'about.title' | translate }}</h1>
                <p> {{ 'about.content' | translate }}</p>
            </div>
        </div>
        <form *ngIf="comms | async as comm">
            <div class="form-group row" *ngFor="let com of comm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Comment</h5>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{com.email}}>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{com.content}}>
                      </div>
                    </div>
                </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Add Comment</label>
                <textarea class="form-control" #content id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary" (click)="onSubmit(string, content.value)" style="float: right;">Add Comment</button>
        </form>
    </div>
    
</div>
