<app-navbar></app-navbar>
<div class ="container">
    <div class="jumbotron">
        <h1 class="display-4">Contact information</h1>
        <hr class="my-4">
            <p><i class="fas fa-globe-europe"></i> Cluj-Napoca, Romania</p>
            <p><i class="fas fa-phone"></i> 0749 123 408</p>
            <p><i class="far fa-envelope"></i> lauranbogdan@gmail.com</p>
        <hr class="my-4">
            <app-mail-serv></app-mail-serv>
      </div>
</div>

<app-footer></app-footer>