<form>
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" class="form-control" #mail id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	</div>
    <div class="form-group">
        <label for="textarea" ><b>{{ 'mail.label' | translate }}</b></label>
      <textarea class="form-control" #text id="textarea" rows="3"  placeholder="{{ 'mail.textarea' | translate }}"></textarea>
    </div>
    <input class="btn btn-secondary" type="submit" value="Submit" (click)="submit(text.value, mail.value)">
  </form>